
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('fotolar/doga/5.JPG');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.register-form {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #444;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.account-info {
    margin-top: 20px;
    font-size: 14px;
}

.account-info a {
    color: #fff;
    text-decoration: none;
}

.account-info a:hover {
    text-decoration: underline;
}
